Repository cryptobuks1/daf-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: daf-core, daf-cli, daf-data-store, tests, dafcore, dafdatastore

.codecov.yml:

coverage:
  status:
    project:
      default: off
      daf-cli:
        target: 80%
        flags: daf-cli
      daf-core:
        target: 80%
        flags: daf-core
      daf-data-store:
        target: 80%
        flags: daf-data-store

flags:
  daf-core:
    paths:
      - packages/daf-core
  daf-cli:
    paths:
      - packages/daf-cli
  daf-data-store:
    paths:
      - packages/daf-data-store

  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  precision: 2
  round: down
  range: '70...100'
  status:
    project:
      default: off
      dafcore:
        target: 50%
        flags: dafcore
      dafdatastore:
        target: 50%
        flags: dafdatastore

flags:
  dafcore:
    paths:
      - packages/daf-core/
  dafdatastore:
    paths:
      - packages/daf-/

fixes:
  - 'before/::after/'

feat: SignCredentialJwt returns Credential
  examples/expressjs-ethr/src/index.ts
  examples/react-app/src/App.tsx
  examples/react-graphql/client/src/components/Request/Request.tsx
  examples/react-graphql/client/src/gql/mutations.ts
  examples/react-graphql/client/src/queries.ts
  examples/react-graphql/client/src/views/Identity/IdentitiyManager.tsx
  examples/react-graphql/client/src/views/Identity/IdentityDetail.tsx
  examples/react-graphql/client/src/views/Issue/Issue.tsx
  examples/react-graphql/client/src/views/Request/Request.tsx
  examples/react-graphql/server/index.ts
  examples/send-vc/index.ts
  packages/daf-cli/src/credential.ts
  packages/daf-trust-graph/src/graphql.ts
Due: daf-cli

chore: Version bump
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore: New beta release
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: Bump version
  package.json
Due: none

chore: Version bump
  packages/daf-cli/package.json
Due: daf-cli

feat: Agent dbConnection constructor option
  packages/daf-cli/src/cli.ts
  packages/daf-cli/src/setup.ts
Due: daf-cli

fix: Updated examples: pass dbConnection to Agent
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/src/index.ts
  examples/expressjs-ethr/views/history.handlebars
  examples/expressjs-ethr/views/home.handlebars
  examples/expressjs-ethr/yarn.lock
  examples/id-hub/src/index.ts
  examples/id-hub/yarn.lock
  examples/react-app/src/App.tsx
  examples/react-app/yarn.lock
  examples/react-graphql/client/src/gql/queries.ts
  examples/react-graphql/client/src/queries.ts
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/yarn.lock
  examples/rest-api/index.ts
  examples/rest-api/setup.ts
  examples/rest-api/yarn.lock
  examples/send-vc/index.ts
  examples/send-vc/setup.ts
  examples/send-vc/yarn.lock
Due: none

chore: Update configs
  lerna.json
Due: none

chore(release): v4.0.0-alpha.2
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore(beta-release): v4.0.0-beta.42
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix(deps): enable verification of ES256K signatures with default did:ethr: docs
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
  yarn.lock
Due: none

chore(release): v3.4.3
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

feat: Default IdentityProvider
  examples/expressjs-ethr/src/identity.ts
  examples/expressjs-ethr/yarn.lock
  examples/send-vc/index.ts
  examples/send-vc/yarn.lock
  packages/daf-cli/src/identity-manager.ts
Due: daf-cli

chore(beta-release): v4.0.0-beta.43
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore(beta-release): v4.0.0-beta.44
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore(beta-release): v4.0.0-beta.45
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Remove daf-data-store from packages
  packages/daf-cli/package.json
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/data-explorer.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/msg.ts
  packages/daf-cli/src/services.ts
  packages/daf-cli/src/setup.ts
  packages/daf-cli/tsconfig.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/LICENSE
  packages/daf-data-store/README.md
  packages/daf-data-store/api-extractor.json
  packages/daf-data-store/package.json
  packages/daf-data-store/src/__tests__/data-store.test.ts
  packages/daf-data-store/src/data-store.ts
  packages/daf-data-store/src/graphql.ts
  packages/daf-data-store/src/index.ts
  packages/daf-data-store/tsconfig.json
  packages/daf-data-store/types/blakejs/index.d.ts
  packages/daf-data-store/types/sql-bricks-sqlite/index.d.ts
  packages/tsconfig.json
  yarn.lock
Due: daf-cli, daf-data-store

fix: Removing daf-data-store from examples
  examples/expressjs-ethr/package.json
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/tsconfig.json
  examples/expressjs-ethr/yarn.lock
  examples/id-hub/yarn.lock
  examples/react-graphql/client/src/gql/queries.ts
  examples/react-graphql/client/src/queries.ts
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/package.json
  examples/react-graphql/server/yarn.lock
  examples/send-vc/tsconfig.json
Due: none

fix: React-graphql using new api
  examples/react-graphql/client/src/components/ActivityItem/ActivityItem.tsx
  examples/react-graphql/client/src/components/Credential/Credential.tsx
  examples/react-graphql/client/src/components/Request/Request.tsx
  examples/react-graphql/client/src/gql/mutations.ts
  examples/react-graphql/client/src/gql/queries.ts
  examples/react-graphql/client/src/queries.ts
  examples/react-graphql/client/src/views/Activity/Activity.tsx
  examples/react-graphql/client/src/views/Identity/IdentitiyManager.tsx
  examples/react-graphql/client/src/views/Identity/IdentityDetail.tsx
  examples/react-graphql/client/src/views/Issue/Issue.tsx
  examples/react-graphql/client/src/views/Request/Request.tsx
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/package.json
  examples/react-graphql/server/yarn.lock
Due: none

chore(beta-release): v4.0.0-beta.46
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

fix: React example SDR
  examples/react-graphql/client/src/components/Request/Request.tsx
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/package.json
  examples/react-graphql/server/yarn.lock
Due: none

feat: Handling credentials in SDR message
  packages/daf-cli/src/sdr.ts
Due: daf-cli

chore(beta-release): v4.0.0-beta.47
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

chore: Removing demo
  daf-vericheck-demo/src/App.tsx
Due: none

docs: Updated readme
  README.md
  docs/QuickStart.md
Due: none

chore(beta-release): v4.0.0-beta.48
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

chore(beta-release): v4.0.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

docs: Example GraphQL authentication
  examples/id-hub/package.json
  examples/id-hub/src/index.ts
  examples/id-hub/yarn.lock
Due: none

feat: Add version cmd to cli
  packages/daf-cli/src/cli.ts
  packages/daf-cli/src/version.ts
Due: daf-cli

chore: Remove versioning configs
  lerna.json
Due: none

chore(release): v4.1.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

chore(release): v4.2.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

chore(release): v4.2.1
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

feat: Encrypting private keys with SecretBox
  packages/daf-cli/package.json
  packages/daf-cli/src/cli.ts
  packages/daf-cli/src/crypto.ts
  packages/daf-cli/src/postinstall.ts
  packages/daf-cli/src/setup.ts
  packages/daf-react-native-libsodium/src/index.ts
  packages/daf-react-native-libsodium/src/secret-box.ts
  yarn.lock
Due: daf-cli

docs: Updated examples to use SecretBox
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/yarn.lock
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/yarn.lock
  examples/rest-api/setup.ts
  examples/rest-api/yarn.lock
  examples/send-vc/setup.ts
  examples/send-vc/yarn.lock
Due: none

fix: Failing CI
  packages/daf-cli/package.json
  packages/daf-cli/scripts/postinstall.js
Due: daf-cli
