Repository cryptobuks1/daf-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: daf-core, daf-cli, daf-data-store, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      daf-cli:
        target: 80%
        flags: daf-cli
      daf-core:
        target: 80%
        flags: daf-core
      daf-data-store:
        target: 80%
        flags: daf-data-store

flags:
  daf-core:
    paths:
      - packages/daf-core
  daf-cli:
    paths:
      - packages/daf-cli
  daf-data-store:
    paths:
      - packages/daf-data-store

  tests:
    paths:
      - tests/

feat: TypeORM wip
  .gitignore
  packages/tsconfig.settings.json
  yarn.lock
Due: none

feat: Experiments with KeyStore IdentityStore
  examples/send-vc/identity-store.ts
  examples/send-vc/index.ts
  examples/send-vc/key-store.ts
  examples/send-vc/package.json
  examples/send-vc/setup.ts
  examples/send-vc/tsconfig.json
  examples/send-vc/yarn.lock
Due: none

feat: Experimentation
  examples/send-vc/package.json
  examples/send-vc/test.ts
Due: none

fix: Removing context entities
  examples/send-vc/test.ts
Due: none

chore: Experiments
  examples/send-vc/test.ts
Due: none

chore: Troubleshooting coverage report issues
  codecov.yml
  jest.json
Due: none

fix: VC / VP hash
  examples/send-vc/test.ts
Due: none

chore: Clean up and use flags
  .circleci/config.yml
  codecov.yml
  jest.json
Due: none

fix: Building
  packages/daf-data-store/src/data-store.ts
  packages/daf-trust-graph/src/action-handler.ts
  packages/daf-trust-graph/src/service-controller.ts
Due: daf-data-store

chore: Clean up and remove flags
  codecov.yml
Due: none

chore: Add codecov badge to readme
  README.md
Due: none

test: Validate Message
  examples/send-vc/test.ts
Due: none

feat: Data-store upgrade
  examples/send-vc/test.ts
  package.json
  packages/daf-cli/package.json
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/data-explorer.ts
  packages/daf-cli/src/msg.ts
  packages/daf-cli/src/sdr.ts
  packages/daf-cli/src/services.ts
  packages/daf-cli/src/setup.ts
  packages/daf-cli/tsconfig.json
  packages/daf-data-store/src/data-store.ts
  packages/daf-data-store/src/graphql.ts
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/LICENSE
  packages/daf-node-sqlite3/README.md
  packages/daf-node-sqlite3/api-extractor.json
  packages/daf-node-sqlite3/package.json
  packages/daf-node-sqlite3/src/__tests__/default.test.ts
  packages/daf-node-sqlite3/src/index.ts
  packages/daf-node-sqlite3/tsconfig.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/LICENSE
  packages/daf-react-native-sqlite3/README.md
  packages/daf-react-native-sqlite3/api-extractor.json
  packages/daf-react-native-sqlite3/package.json
  packages/daf-react-native-sqlite3/src/__tests__/default.test.ts
  packages/daf-react-native-sqlite3/src/index.ts
  packages/daf-react-native-sqlite3/tsconfig.json
  packages/tsconfig.json
  yarn-error.log
  yarn.lock
Due: daf-cli, daf-data-store

feat: IdentityStore and KeyStore in daf-core
  examples/expressjs-ethr/.gitignore
  examples/expressjs-ethr/package.json
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/src/index.ts
  examples/expressjs-ethr/tsconfig.json
  examples/expressjs-ethr/yarn.lock
  examples/send-vc/identity-store.ts
  examples/send-vc/key-store.ts
Due: none

chore: Commit lockfile changes
  yarn.lock
Due: none

chore(release): v2.3.18
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: Updating examples to the new API
  .gitignore
  examples/expressjs-ethr/src/framework.ts
  examples/react-app/yarn.lock
  examples/react-graphql/client/src/gql/queries.ts
  examples/react-graphql/client/src/queries.ts
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/package.json
  examples/react-graphql/server/yarn.lock
  examples/send-vc/index.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/setup.ts
  packages/daf-data-store/src/data-store.ts
  packages/daf-data-store/src/index.ts
  packages/daf-data-store/src/migrations/001.initial.ts
  packages/daf-data-store/src/migrations/002.second.ts
  packages/daf-data-store/src/migrations/index.ts
  packages/daf-data-store/src/types.ts
Due: daf-cli, daf-data-store

fix: Find Messages
  examples/react-app/yarn.lock
  examples/react-graphql/server/yarn.lock
  packages/daf-data-store/src/data-store.ts
Due: daf-data-store

fix: Examples
  examples/react-graphql/server/index.ts
  packages/daf-data-store/src/data-store.ts
Due: daf-data-store

fix: GQL newMessage data field
  package.json
  yarn.lock
Due: none

chore(release): v2.3.19
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: IdentityStore provider
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/yarn.lock
Due: none

fix: Examples
  examples/react-app/yarn.lock
  examples/react-graphql/server/index.ts
  examples/rest-api/index.ts
  examples/rest-api/package.json
  examples/rest-api/setup.ts
  examples/rest-api/yarn.lock
Due: none

fix: Example
  examples/send-vc/index.ts
  examples/send-vc/setup.ts
  examples/send-vc/test.ts
  examples/send-vc/yarn.lock
Due: none

fix: Latest message timestamps
  packages/daf-data-store/src/data-store.ts
Due: daf-data-store

feat: Add JWT output for credential.ts and sdr.ts in cli
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/sdr.ts
Due: daf-cli

chore(release): v2.4.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

chore(release): v2.4.1
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

feat: Add whitelisted issuers in SDR
  packages/daf-cli/src/sdr.ts
Due: daf-cli

chore(release): v2.5.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Initializing DB before any action
  packages/daf-cli/src/cli.ts
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/data-explorer.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/msg.ts
  packages/daf-cli/src/sdr.ts
  packages/daf-cli/src/services.ts
  packages/daf-cli/src/setup.ts
Due: daf-cli

fix: Removing MessageMetaData entity
  packages/daf-data-store/src/data-store.ts
  packages/daf-data-store/src/graphql.ts
Due: daf-data-store

chore: Deps update
  examples/expressjs-ethr/yarn.lock
Due: none

Update examples/react-graphql/server/index.ts
  examples/react-graphql/server/index.ts
Due: none

Update examples/rest-api/index.ts
  examples/rest-api/index.ts
Due: none

feat: Updating docs
  README.md
Due: none

chore(release): v3.0.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

docs: Typo
  README.md
Due: none

chore: Upgrade deps
  package.json
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-debug/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
  yarn.lock
Due: daf-cli, daf-data-store
