Repository cryptobuks1/daf-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: daf-core, daf-cli, daf-data-store, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      daf-cli:
        target: 80%
        flags: daf-cli
      daf-core:
        target: 80%
        flags: daf-core
      daf-data-store:
        target: 80%
        flags: daf-data-store

flags:
  daf-core:
    paths:
      - packages/daf-core
  daf-cli:
    paths:
      - packages/daf-cli
  daf-data-store:
    paths:
      - packages/daf-data-store

  tests:
    paths:
      - tests/

chore: Add codecov to test command
  .circleci/config.yml
  package.json
Due: none

chore(release): v2.3.12
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

fix: Remove unused ws
  examples/expressjs-ethr/src/framework.ts
Due: none

docs: Package list (first 7)
  README.md
Due: none

fix: Ethr-did identity provider web3Provider
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/yarn.lock
  examples/react-app/src/setup.ts
  examples/react-app/yarn.lock
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/yarn.lock
  examples/rest-api/setup.ts
  examples/rest-api/yarn.lock
  examples/send-vc/index.ts
  examples/send-vc/yarn.lock
  packages/daf-cli/src/setup.ts
Due: daf-cli

chore(release): v2.3.13
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

docs: Package list
  README.md
Due: none

docs: Typos
  README.md
Due: none

chore: Add coverage directory to jest config
  jest.json
Due: none

docs: Maturity levels
  README.md
Due: none

chore: Remove codecov yml to test
  .codecov.yml
Due: none

chore: Add store artifacts to circleci Config
  .circleci/config.yml
Due: none

fix: Typescript types
  api-extractor-base.json
  package.json
  packages/daf-cli/src/graphql.ts
  packages/daf-data-store/api-extractor.json
  packages/daf-data-store/src/graphql.ts
  packages/daf-data-store/src/index.ts
  packages/daf-data-store/tsconfig.json
  packages/daf-debug/src/action-handler.ts
  packages/daf-debug/tsconfig.json
  packages/daf-fs/tsconfig.json
  packages/daf-local-storage/tsconfig.json
  packages/daf-node-sqlite3/src/index.ts
  packages/daf-node-sqlite3/tsconfig.json
  packages/daf-react-native-async-storage/tsconfig.json
  packages/daf-react-native-libsodium/tsconfig.json
  packages/daf-react-native-sqlite3/src/index.ts
  packages/daf-react-native-sqlite3/tsconfig.json
  packages/daf-trust-graph/src/action-handler.ts
  packages/daf-trust-graph/tsconfig.json
  packages/tsconfig.settings.json
  scripts/generate-docs.ts
  yarn.lock
Due: daf-cli, daf-data-store

docs: Flow diagrams
  docs/Flows.md
Due: none

docs: TOC
  README.md
  docs/Flows.md
Due: none

docs: API Reference
  README.md
Due: none

fix: TG findEdges fromDID
  packages/daf-trust-graph/src/queries.ts
Due: none

chore(release): v2.3.14
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli

fix: GQL export
  .pretterignore
  docs/api/daf-data-store.gql.md
  docs/api/daf-data-store.md
  docs/api/daf-data-store.resolvers.md
  docs/api/daf-data-store.typedefs.md
  packages/daf-cli/src/graphql.ts
  packages/daf-data-store/src/graphql.ts
  packages/daf-data-store/src/index.ts
Due: daf-cli, daf-data-store

docs: Api-extractor config for all packages
  packages/daf-debug/api-extractor.json
  packages/daf-fs/api-extractor.json
  packages/daf-local-storage/api-extractor.json
  packages/daf-node-sqlite3/api-extractor.json
  packages/daf-react-native-async-storage/api-extractor.json
  packages/daf-react-native-libsodium/api-extractor.json
  packages/daf-react-native-sqlite3/api-extractor.json
  packages/daf-trust-graph/api-extractor.json
  scripts/generate-docs.ts
Due: none

fix: GQL export
  packages/daf-trust-graph/src/graphql.ts
  packages/daf-trust-graph/src/index.ts
  packages/daf-trust-graph/src/queries.ts
  packages/daf-trust-graph/src/service-controller.ts
Due: none

chore: Skip gcov for codecov
  .circleci/config.yml
  package.json
Due: none

fix: Resolver config
  examples/react-app/package.json
  examples/react-app/src/setup.ts
  examples/react-app/yarn.lock
Due: none

chore(release): v2.3.15
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

docs: Quick start guide
  README.md
  docs/QuickStart.md
  examples/send-vc/index.ts
  examples/send-vc/package.json
  examples/send-vc/setup.ts
  examples/send-vc/yarn.lock
Due: none

docs: Quick start
  docs/QuickStart.md
  examples/send-vc/index.ts
  examples/send-vc/setup.ts
Due: none

docs: Quick start
  docs/QuickStart.md
Due: none

docs: Debug log
  docs/QuickStart.md
Due: none

docs: Readme
  examples/send-vc/README.md
Due: none

chore(release): v2.3.16
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-node-sqlite3/CHANGELOG.md
  packages/daf-node-sqlite3/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-react-native-sqlite3/CHANGELOG.md
  packages/daf-react-native-sqlite3/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: VP aud
  examples/expressjs-ethr/src/index.ts
Due: none

chore(release): v2.3.17
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

chore: Adding coverage report format
  .circleci/config.yml
  README.md
  jest.json
  package.json
Due: none

chore: Adding coverage report format
  jest.json
  package.json
Due: none

chore: Add codecov command to circle config
  .circleci/config.yml
  package.json
Due: none

chore: Add codecov command to circle config
  .circleci/config.yml
Due: none
