Repository cryptobuks1/daf-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: daf-core, daf-cli, daf-data-store, tests, dafcore, dafdatastore

chore(release): v3.0.1
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Returning newMessage sender & receiver
  packages/daf-data-store/src/data-store.ts
Due: daf-data-store

chore(release): v3.0.2
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: Fetching URL to get the message payload
  examples/expressjs-ethr/src/index.ts
  examples/expressjs-ethr/yarn.lock
  jest.json
  package.json
  packages/daf-cli/src/msg.ts
  setupJest.js
  yarn.lock
Due: daf-cli

chore(release): v3.1.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

chore(release): v3.1.1
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

chore(release): v3.1.2
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
Due: daf-cli

docs: ORM Data model
  README.md
Due: none

chore(release): v3.1.3
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: GQL queries WIP
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/setup.ts
Due: daf-cli

fix: Fetching credentials for SDR
  packages/daf-cli/src/setup.ts
  packages/daf-data-store/src/data-store.ts
Due: daf-cli, daf-data-store

chore(release): v3.1.4
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
Due: daf-cli, daf-data-store

feat: Example id-hub
  examples/id-hub/.gitignore
  examples/id-hub/README.md
  examples/id-hub/package.json
  examples/id-hub/src/index.ts
  examples/id-hub/tsconfig.json
  examples/id-hub/yarn.lock
Due: none

fix: Removing action handler
  examples/id-hub/src/index.ts
Due: none

chore(release): v3.2.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore(release): v3.3.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: Ethr-did export/import
  packages/daf-cli/src/identity-manager.ts
Due: daf-cli

chore(release): v3.4.0
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Id-hub example
  examples/id-hub/README.md
  examples/id-hub/src/index.ts
  examples/id-hub/yarn.lock
Due: none

chore: Add beta prerelease config
  daf-vericheck-demo/src/App.tsx
  package.json
Due: none

chore: New beta release configs
  .circleci/config.yml
  lerna.json
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-debug/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore: New beta
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-debug/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Remove auto ci beta release
  .circleci/config.yml
Due: none

chore: New beta release
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-debug/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

fix: Allow version changes
  lerna.json
Due: none

chore: New beta version
  packages/daf-cli/package.json
  packages/daf-data-store/package.json
  packages/daf-debug/package.json
  packages/daf-fs/package.json
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

chore: And beta publish script
  package.json
Due: none

fix: Bug in findCredentialsByFields
  packages/daf-data-store/src/data-store.ts
Due: daf-data-store

chore(release): v3.4.1
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
Due: daf-cli, daf-data-store

fix: Example queries
  examples/react-graphql/client/src/gql/queries.ts
  examples/react-graphql/client/src/queries.ts
Due: none

fix: Generating message.id if not set
  yarn.lock
Due: none

chore(release): v3.4.2
  CHANGELOG.md
  lerna.json
  packages/daf-cli/CHANGELOG.md
  packages/daf-cli/package.json
  packages/daf-data-store/CHANGELOG.md
  packages/daf-data-store/package.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/package.json
  packages/daf-fs/CHANGELOG.md
  packages/daf-fs/package.json
  packages/daf-local-storage/CHANGELOG.md
  packages/daf-local-storage/package.json
  packages/daf-react-native-async-storage/CHANGELOG.md
  packages/daf-react-native-async-storage/package.json
  packages/daf-react-native-libsodium/CHANGELOG.md
  packages/daf-react-native-libsodium/package.json
  packages/daf-trust-graph/CHANGELOG.md
  packages/daf-trust-graph/package.json
Due: daf-cli, daf-data-store

feat: Use handleMessage instead of validateMessage
  examples/expressjs-ethr/src/index.ts
  examples/expressjs-ethr/yarn.lock
  examples/rest-api/index.ts
  examples/rest-api/yarn.lock
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/msg.ts
  packages/daf-cli/src/sdr.ts
  packages/daf-cli/src/services.ts
  packages/daf-cli/src/setup.ts
  packages/daf-trust-graph/src/action-handler.ts
  packages/daf-trust-graph/src/service-controller.ts
Due: daf-cli

fix: GetIdentityProviders
  examples/expressjs-ethr/src/identity.ts
  examples/react-app/src/App.tsx
  examples/react-app/yarn.lock
  examples/rest-api/index.ts
  examples/send-vc/index.ts
  examples/send-vc/yarn.lock
  packages/daf-cli/src/identity-manager.ts
Due: daf-cli

feat: Removing daf-debug
  docs/QuickStart.md
  examples/expressjs-ethr/package.json
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/tsconfig.json
  examples/expressjs-ethr/yarn.lock
  examples/id-hub/package.json
  examples/id-hub/src/index.ts
  examples/id-hub/tsconfig.json
  examples/id-hub/yarn.lock
  examples/react-app/package.json
  examples/react-app/src/setup.ts
  examples/react-app/yarn.lock
  examples/react-graphql/server/index.ts
  examples/react-graphql/server/package.json
  examples/react-graphql/server/yarn.lock
  examples/rest-api/setup.ts
  examples/rest-api/tsconfig.json
  examples/send-vc/package.json
  examples/send-vc/setup.ts
  examples/send-vc/tsconfig.json
  examples/send-vc/yarn.lock
  packages/daf-cli/package.json
  packages/daf-cli/src/setup.ts
  packages/daf-cli/tsconfig.json
  packages/daf-debug/CHANGELOG.md
  packages/daf-debug/LICENSE
  packages/daf-debug/README.md
  packages/daf-debug/api-extractor.json
  packages/daf-debug/package.json
  packages/daf-debug/src/__tests__/default.test.ts
  packages/daf-debug/src/action-handler.ts
  packages/daf-debug/src/index.ts
  packages/daf-debug/src/message-validator.ts
  packages/daf-debug/tsconfig.json
  packages/tsconfig.json
  scripts/generate-docs.ts
Due: daf-cli

feat: Renaming MessageValidator to MessageHandler
  examples/expressjs-ethr/src/framework.ts
  examples/id-hub/src/index.ts
  examples/react-app/src/setup.ts
  examples/rest-api/setup.ts
  examples/send-vc/index.ts
  examples/send-vc/setup.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/setup.ts
  packages/daf-trust-graph/src/action-handler.ts
  packages/daf-trust-graph/src/index.ts
  packages/daf-trust-graph/src/service-controller.ts
Due: daf-cli

feat: Renamed Core to Agent
  examples/expressjs-ethr/src/framework.ts
  examples/expressjs-ethr/src/identity.ts
  examples/expressjs-ethr/src/index.ts
  examples/id-hub/src/index.ts
  examples/react-app/src/App.tsx
  examples/react-app/src/setup.ts
  examples/react-graphql/server/index.ts
  examples/rest-api/index.ts
  examples/rest-api/setup.ts
  examples/send-vc/index.ts
  examples/send-vc/setup.ts
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/data-explorer.ts
  packages/daf-cli/src/did-resolver.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/identity-manager.ts
  packages/daf-cli/src/msg.ts
  packages/daf-cli/src/sdr.ts
  packages/daf-cli/src/services.ts
  packages/daf-cli/src/setup.ts
  packages/daf-trust-graph/src/action-handler.ts
  packages/daf-trust-graph/src/graphql.ts
Due: daf-cli

feat: SDR helper and specs
  packages/daf-cli/src/sdr.ts
Due: daf-cli

feat: ActionSendDIDComm
  examples/rest-api/setup.ts
  examples/send-vc/index.ts
  packages/daf-cli/src/credential.ts
  packages/daf-cli/src/graphql.ts
  packages/daf-cli/src/sdr.ts
Due: daf-cli

Path conditions:
  daf-core: any of: packages/daf-core
  daf-cli: any of: packages/daf-cli
  daf-data-store: any of: packages/daf-data-store
  tests: any of: tests/
  dafcore: any of: packages/daf-core/
  dafdatastore: any of: packages/daf-/
